.oceanBackground {
  background: url('http://www.c4gallery.com/artist/database/vija-celmins/vija-celmins-ocean-with-cross-1-2005-lithograph-CEL901.jpg') ;
 }

.grayBackground {
  background-color: #b8c1bb;
}

.greenText {
 color: #e2eae1;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
}